file_contents.txt
**/file_contents.txt
.env
examples/**/results.*
.compozy
node_modules
bin
**/reports/**
**/coverage*

# Bun-specific files
bun.lockb
.bun

# .gitignore
# Specifies intentionally untracked files that Git should ignore.
# Get latest from https://github.com/github/gitignore/blob/main/Go.gitignore

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
schemas/
sessions/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when run with the -o flag
*.out

# Dependency directories (remove the comment below if you do not commit vendor)
# vendor/

# Go workspace file
# go.work
# go.work.sum

# Environment configuration.
.env
.envrc
.env.*

# IDE-specific files
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Build output
/build/

# Local artifacts
compozy
diff.txt

.aider*

# Added by Task Master AI
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log
# Dependency directories
node_modules/
# Environment variables
# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
# OS specific

# Local configuration files
*.local.json

# Added by Task Master AI
.vscode
test-project
